:root{--first-title-color--: #212121;
    --acent-color--: #2196F3;
    --second-btn-color--: #FFFFFF;
}

body{font-family: Roboto;
    color: #757575;}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;}

ul, ol{margin: 0; padding-left: 0;}



.list{list-style: none;}

.link{text-decoration: none;}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.conteiner{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;}

.header-list:focus,
.header-list:hover{
    color: var(--acent-color--);
    cursor: pointer;}

.header-link :focus,
.header-link :hover {
    color: var(--acent-color--);
    cursor: pointer;
}

.footer-link :focus,
.footer-link :hover {
    color: var(--acent-color--);
    cursor: pointer;
}

/*---header---*/
.logo{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26); 
    letter-spacing: 0.03em;
    color: #000000;}
.logo-acent{color: var(--acent-color--)}



.logo{display: flex;
margin-right: 93px;
align-items: center;}

.heder-nav{display: flex; align-items: center;}

.header-list{display: flex;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}


.header-link{display: flex;
margin-left: auto;
align-items: center;
gap: 50px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.header>.conteiner {
    display: flex;
   align-items: center;
}

.header-item:not(:last-child) {
    margin-right: 50px;
}
.header-list{font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: var(--first-title-color--);}

.header-link{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;}

.active{
    position: relative;

}

.current{
    color: var(--acent-color--);
}

.active::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    left: 0;
    background-color: var(--acent-color--);
    bottom: -28px;
}

.header{padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(236, 236, 236, 1);}


.header-link-contact{
    display: flex;
    margin-left: auto;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon{
    fill: currentColor;
    margin-right: 10px;
}


/*--MAIN--*/

.hero{
    background-image: linear-gradient(to top, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../img/hero-bg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1600px;
}


.hero-title{font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--second-btn-color--);
    margin: 0 auto 30px;
    width: 696px;
    }

.hero-btn{font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    padding: 10px 32px;
    border-radius: 4px;
    }



    /*--Content--*/

    .content{padding-top: 94px;
    padding-bottom: 94px;}

   .content-title{font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--first-title-color--);
    margin-bottom: 10px;}
   .content-text{
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;}

    .content-item{display: flex;
    gap: 30px;}


.content-bg{
    width: 270px;
    height: 120px;
    background-color: rgba(245, 244, 250, 1);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*--work--*/

.work{padding-bottom: 94px;}

.work-item {display: flex;
gap: 30px;
width: 1170px;}

.work-title{font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--first-title-color--);
    margin-bottom: 50px;}

/*--Comand--*/

.comand{padding-top: 94px;
    padding-bottom: 94px;
background-color: rgba(245, 244, 250, 1);}

.comand-title{font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    margin-bottom: 50px;}

.comand-subtitle{font-weight: 500;
    font-size: 16px;
    line-height: calc(19/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
margin-bottom: 10px;}

.comand-text{
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
}

.comand-item {display: flex;
column-gap: 30px;}

.comand-list{background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 
0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}


.comand-about{padding-top: 30px;
padding-bottom: 30px;}

.comand-soc{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.comand-soc-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.comand-soc-icon{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comand-soc-link:focus,
.comand-soc-link:hover{
    background-color: var(--acent-color--);
}

.comand-soc-link:focus,
.comand-soc-link:hover .comand-soc-icon{
    fill: #fff;
}


/*---client----*/

.client{
    padding-top: 94px;
    padding-bottom: 94px;
}

.client-title{font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    margin-bottom: 50px;
}


.client-item{
    display: flex;
    justify-content: center;
    gap: 30px;
}





.client-logo-link{
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(175, 177, 184, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.client-icon{fill: currentColor;}

.client-logo-link:focus,
.client-logo-link:hover{
    color: rgba(33, 150, 243, 1);
    border-color: var(--acent-color--);
}


/*--footer--*/


.footer{background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.logo-footer{display: flex;
margin-bottom: 20px;}

.logo-footer{font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em;
    color: var(--second-btn-color--);
}




.footer-link{font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:not(:last-child){margin-bottom: 9px;}

.footer .conteiner{display: flex;}
/*---join--*/
.join{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 70px;}
.join-soc {
    display: flex;
    gap: 10px;
}

.join-soc-link:focus,
.join-soc-link:hover{
    background-color: var(--acent-color--);
}

.join-soc-icon{fill: #FFFFFF;}

.join-soc-link {
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.send{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    margin-left: 93px;
}

.send-title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.send-imp{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    
}

.send-email{
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    color: #FFFFFF;
    margin-right: 12px;
    padding-left: 10px;
}

.send-email::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 16px;
}

.btn-send{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    display: flex;
        align-items: center;
        justify-content: center;
    
}

.send-svg{
    fill: var(--second-btn-color--);
    margin-left: 10px;
   
}

    
/*---portfolio--*/

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;}

.btn-item{display: flex;
gap: 8px;
justify-content: center;
margin-bottom: 50px;
}

.list-btn{font-weight: 500;
    font-size: 16px;
    line-height: calc(26/16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    cursor: pointer;
    border: 0px;
margin: 0 auto;
border-radius: 4px;
padding: 6px 22px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:hover,
.list-btn:focus{
        color: var(--second-btn-color--);
        background-color: var(--acent-color--);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-title{font-weight: 700;
    font-size: 18px;
    line-height: calc(36/18);
    letter-spacing: 0.06em;
    color: var(--first-title-color--);
    margin-bottom: 4px;
}
.portfolio-text{font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;
}

.portfolio{padding-top: 94px;
padding-bottom: 94px;}

.portfolio-item{display: flex;
flex-wrap: wrap;
gap: 30px;
}

.portfolio-about{padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.portfolio-top-wrap{
    position: relative;
    overflow: hidden;
}

.work-box{position: relative;}

.work-text{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: rgba(47, 48, 58, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-top-text{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: auto;
}
.portfolio-link:focus,
.portfolio-link:hover .portfolio-top-text {
    transform: translateY(0%);
}

.portfolio-link{
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus{box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);}


.backdrop{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
}

.modal{
    width: 528px;
    height: 581px;
    min-height: 581px;
    background-color: #ffffff;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 40px;
}

.modal-close{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
        align-items: center;
        justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover{
    fill:var(--acent-color--);
}

.modal-title{
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-lable {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 4px;
}

.modal-field{
    margin-bottom: 10px;
}

.modal-input{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: transparent;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-input:focus{
    border-color: var(--acent-color--);
}

.modal-input:focus + .icon-input{
    fill: var(--acent-color--);
}

.input-wrap{position: relative;}

.icon-input{
    position: absolute;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    cursor: pointer;
    outline: transparent;
    display: block;
}

.modal-text:focus{
    border-color: var(--acent-color--);
}

.modal-text::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.chek-lable{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: #757575;
    justify-content: center;
}
.chek-lable span{
    width: 16px;
    height: 15px;
    border: 2px solid rgba(33, 33, 33, 1);
    border-radius: 2px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-chek{font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;}

.modal-coment{margin-bottom: 20px;}

.icon-che{
    fill: transparent;
}

.modal-policy{
    margin-bottom: 30px;
}


.modal-chek:checked + .chek-lable span {
    background-color: var(--acent-color--);
    border: none;
}

.modal-chek:checked+.chek-lable .icon-che{
    fill: #ffffff;
}

.modal-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--second-btn-color--);
    background-color: #2196F3;
    display: block;
    margin: 0 auto;
    border: 0px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 4px;
}

.is-hidden{
    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
}
