.work {
    padding-bottom: 94px;
}

.work-item {
    display: flex;
    gap: 30px;
    width: 1170px;
}

.work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color--);
    margin-bottom: 50px;
}